.card {
  display: flex;
  height: 9vw;
  margin-top: 1%;
  background-color: antiquewhite;
  width: 98%;
  margin-left: 1%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  font-size: 1.1vw;
  flex-direction: row;
}

.card-content {
  width: 60%;
}

.card-title {
  padding-top: 3%;
  margin: 0;
}

.card-location {
  padding-top: 3%;
  margin: 0;
}

.card-city {
  padding-top: 3%;
  margin: 0;
}

.card-date {
  padding-top: 3%;
  margin: 0;
}

.card-image {
  margin-left: 2%;
  width: 40%;
}
