.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.App-header {
  height: 10%;
  background-color: #1c3f49;
  width: 90%;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

.App-main {
  height: 80%;
  display: flex;
  flex-direction: row;
  background-color: bisque;
  width: 90%;
  overflow: hidden;
}

.main_1 {
  width: 30%;
  background-color: rgb(87, 147, 199);
  overflow-y: auto;
}

.App-footer {
  height: 10%;
  background-color: aquamarine;
  width: 90%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
